.calc{
    width: 400px;
    height: 580px;
    background-color: rgb(78, 54, 54);
    box-shadow: 10px 10px 35px rgb(150, 130, 130);
    border-radius: 10px;
    margin-left: 450px;
}#screen{
    width: 80%;
    margin-left: 35px;
    text-align: right;
    color: rgb(12, 12, 12);
    font-size: 30px;
    height: 40px;
    margin-top: 30px;
    pointer-events: none;
    background-color: rgb(198, 236, 223);
    border-radius: 12px;
}
.row{
    margin-left: 10px;
}
.btn{
    width: 55px;
    height: 48px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 45px;
    padding-bottom: 5px;
    background-color: rgb(187, 186, 186);
    color: rgb(226, 217, 217);
    font-size: 0.9rem;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.btn-op{
    background-color:  rgba(173, 183, 236, 0.397);
}
.btn-equal{
    background-color: rgb(16, 161, 16);
}
.btn-clear{
    background-color: red;
}
.btn:hover{
    border: 5px solid greenyellow;
}